@import '../styles/card.scss';
@import '../styles/variables.scss';

.main-content {
  padding: 0 1em 0 1em;
}
.main {
  display: block;
  min-height: 100vh;
}

.a{
  margin: 0;
  padding: 0;

}
.main{
  display:flex;
  flex-direction:column;
}
.content{
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
 }
.changement{
  padding: 0 2vw;
  flex: 1;
  width: 100%;
  max-height: calc(100vh - $factor-header);
  overflow:scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
