@import '../styles/card.scss';

.main-content {
    padding: 0 1em 0 1em;

}
.a{
  margin:0;
  padding: 0;

}
.main{
  display:flex;
  flex-direction:column;
  .content{
      display:flex;
   }

}
/*div{
      grid-template:
            "app-header app-header app-header"
            "app-aside  router-outlet router-outlet"  / 1fr 1fr 1fr
            ;}*/
