<div class="card">
  <h2>Créer un utilisateur</h2>
  <form class="user-form" [formGroup]="userForm">
    <label for="nom">
      <h2><i class="fab fa-leanpub">
        Nom :</i></h2>
        <input class="input-custom" type = "text" id="nom"  name="authentification" formControlName="nom">
        <br>
      </label>
      <label for="prenom">
        <h2><i class="fab fa-leanpub">
          Prenom :</i></h2>
          <input class="input-custom" type = "text" id="prenom"  name="authentification" formControlName="prenom">
          <br>
        </label>
    <label for="nom">
      <h2><i class="fab fa-leanpub">
        Nom d'utilisateur :</i></h2>
        <input class="input-custom" type = "text" id="nom"  name="authentification" formControlName="name">
        <br>
      </label>
    <label for="mdp">
      <h2><i class="fab fa-leanpub">
        Mot de passe :</i></h2>
        <input class="input-custom" type = "text" id="mdp"  name="authentification" formControlName="password">
        <br>
      </label>
          <label for="illness">
            <h2><i class="fab fa-leanpub">
              Maladie :</i></h2>
              <select class="input-custom" type = "text" (change) = "applyIllnessChange()" id="illness">
                <option *ngFor = "let illness of getAllIllness()" [value]="illness" [selected]="illness === currentIllness">
                  {{illness}}
                </option>
              </select>
            <br>
                    </label>
                    <label for="color">
                      <h2><i class="fab fa-leanpub">
                        Type de Daltonisme :</i></h2>
                        <select class="input-custom" type = "text" (change) = "applyColorChange()" id="color">
                          <option *ngFor = "let color of getAllColors()" [selected]="color === currentColor" [value]="color" >
                            {{color}}
                          </option>
                        </select>
                      <br>
                      </label>
            <button type="submit" class="button2 pulse" [disabled] = "userForm.invalid" (click)="addUser()">
              <span>Créer</span>
            </button>
          </form>
        </div>
        <!-- Uncomment below to see your form structure and how it changes
        <br><br>{{quizForm.getRawValue() | json}}-->
