<div class="card">
  <form class="user-form" [formGroup]="userForm">
    <h1>Créer un utilisateur</h1>
    <label class="line" for="name">
       <span class="outer">
      <h2><i class="fa fa-user">
        Nom d'utilisateur</i></h2>
      <input class="input-custom" type = "text" id="name"   name="authentification" formControlName="name">
         <br>
         <span class="error" *ngIf="userForm.get('name').invalid">{{messageError.name.required}} </span>
         <span class="error" *ngIf="userForm.get('name').invalid" > {{messageError.name.validUsername}}</span>
       </span>
    </label>

    <label class="line" for="mdp">
       <span class="outer">
      <h2><i class="fa fa-lock">
        Mot de passe</i></h2>
      <input class="input-custom" type = "password" id="mdp"  name="authentification" formControlName="password">
      <br><span class="error" *ngIf="userForm.get('password').invalid">{{messageError.password.required}}</span>
       </span>
    </label>

    <label class="line" for="illness">
      <span class="outer">
      <h2><i class="fa fa-glasses">
        Maladie</i></h2>
      <select class="input-custom" type = "text" name="authentification"   formControlName="maladie" id="illness" >
        <option *ngFor = "let illness of getAllIllness()" [value]="illness" [selected]="illness === currentIllness" >
          {{illness}}
        </option>
      </select>
      </span>
    </label>

    <label class="line" for="daltonisme">
       <span class="outer">
      <h2><i class="fa fa-palette">
        Type de Daltonisme</i></h2>
      <select class="input-custom" type = "text" name="authentification" id="daltonisme" formControlName="daltonisme">
        <option *ngFor = "let color of getAllColors()" [selected]="color === currentColor" [value]="color" >
          {{color}}
        </option>
      </select>
       </span>
    </label>

    <button type="submit"  id="submit" class="button2 pulse"  (click)="addUser()" >
      <span>Créer</span>
    </button>
  </form>

</div>
<!-- Uncomment below to see your form structure and how it changes
<br><br>{{quizForm.getRawValue() | json}}-->
