<div class="centerRow" *ngIf="!connexion && !inscription">
  <button (click) = "inscription = true" class="button1" >Inscription</button>
  <button (click) = "connexion = true" class="button1" >Connexion</button>
</div>
<div class="centerCol" *ngIf="!auth && connexion" >
<div  class = "card">
  <form class="authentification-form" [formGroup]="authentificationForm">
    <label for="nom">
      <h2><i class="fab fa-leanpub">
        Nom d'utilisateur :</i></h2>
        <input class="input-custom" type = "text" id="nom"  name="authentification" formControlName="name">
        <br>
        <div *ngIf="submitted && f['name'].errors" >
          <div *ngIf="f['name'].errors['required']">Nom d'utilisateur requis<br></div>
      </div>
      </label>
    <label for="mdp">
      <h2><i class="fab fa-leanpub">
        Mot de passe :</i></h2>
        <input class="input-custom" type = "password" id="mdp"  name="authentification" formControlName="password">
        <br>
        <div *ngIf="submitted && f['password'].errors" >
          <div *ngIf="f['password'].errors['required']">Mot de passe requis<br></div>
      </div>
      </label>
    <br>
    <div *ngIf="noMatch">Mot de passe ou nom d'utilisateur incorrecte <br><br></div>
      <button (click) = "addUser()" class="button2 pulse" >
        <span>Connexion</span></button>
  </form>
</div>
<button (click) = "connexion = false" class ="connexion effect01"><span>Retour</span></button>
</div>
<div class="centerCol" *ngIf="inscription">
  <app-user-form></app-user-form>
  <button (click) = "inscription = false" class ="ret connexion effect01"><span>Retour</span></button>
</div>
