@import '../../../styles/form.scss';
*{box-sizing: border-box;margin: 0;padding: 0; outline: none; transition: all 0.3s ease; animation-delay: 0s;}

.form{
  height: 300px;
}

.pagewrap{
  padding: 10px;
}
