
<div class="aside">

  <nav>
    <div class="button-card menuaside" routerLink="/quiz-list" >
      <img  alt="html image example" src="https://cdn-icons-png.flaticon.com/512/1661/1661185.png" width="90%" height="100vh" />
      Quizz
    </div>

    <div class="button-card menuaside" routerLink="/user-list">
      <img  alt="html image example" src="\assets\trophy-fill.svg" width="90%" height="100vh" />
      Resultat
    </div>

    <div class="button-card menuaside" routerLink="/options" >
      <img alt="htlm image" src="\assets\gear-fill.svg" width="90%" height="100vh"/>
      Options
    </div>
  </nav>
  <!--MyApp-->
  <!--<nav><a routerLink="quiz-list">Page Principale</a></nav>-->
</div>
