
<div class="aside">

  <nav>
    

    <div class="menuaside" routerLink="/quiz-list" class="button-card">
      <img  alt="html image example" src="https://cdn-icons-png.flaticon.com/512/1661/1661185.png" width="90%" height="170px" />
      Quizz
    </div>

    <div class="menuaside" routerLink="/user-list" class="button-card">
      <img  alt="html image example" src="\assets\trophy-fill.svg" width="90%" height="170px" />
      Resultat
    </div>

    <div class="menuaside" routerLink="/user-list" class="button-card">
      <img alt="htlm image" src="\assets\gear-fill.svg" width="90%" height="170px"/>
      Options
    </div>

  </nav>
  <!--MyApp-->
  <!--<nav><a routerLink="quiz-list">Page Principale</a></nav>-->
</div>
