@import "../../styles/variables";
@import "../../styles/card";

/*:host {
  color: $white;
}*/

nav{
  display:flex;
  flex-direction:column;
}



.menuaside{
   border-width:5px;
   border-style:solid;
   border-color:black;
  height: 25vh;
}

.aside{
  min-height: 100%;
  height: 100vh;
  width: 25vh;
  background-color: black;
}


