
<div class="aside" *ngIf="this.router.url !== '/authentification'">

  <nav >
    <div class="button-card menuaside" routerLink="/themes" >

      <img  alt="Play" src="\assets\circle-play-solid.svg" width="90%" height="50%" />
      Jouer

    </div>

    <!-- <div class="button-card menuaside" routerLink="/user-list">
      <img  alt="html image example" src="\assets\trophy-fill.svg" width="90%" height="50%" />
      Résultats
    </div> -->

    <div class="button-card menuaside" routerLink="/options" >
      <img alt="Options" src="\assets\gear-fill.svg" width="90%" height="50%"/>
      Options
    </div>

        <div class="button-card menuaside" routerLink="/quiz-list">
      <img  alt="Create" src="./../../assets/plus-square.svg" width="90%" height="50%" />
      Creation de Quiz
    </div>

  </nav>
</div>
