<div class="card">
  <h2>Créer un quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <span>
      Titre <br>
      <input class="input-custom" type="text" id="name" formControlName="name">
    </span>
    <label for = "theme">
      <br> Thème <br>
      <input class="input-custom" type = "text" id="theme"  name="theme-list">
        <option *ngFor = "let currentTheme of getAllThemeName()" [value]="currentTheme">

       </option>
    </label>
    <br>
    <h4>
    <button type="submit" class="button-card" [disabled]="quizForm.invalid" (click)="addQuiz()">Créer</button>
    </h4>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes
<br><br>{{quizForm.getRawValue() | json}}-->
