<div [style]="formatting">
  <h1>Options</h1>
  <main>
    <p>
      Choisissez la taille de l'écriture :
      <select class="input-custom" type = "text" oninput="this.nextElementSibling.value = this.value" (change) = "applySizeChange()" id="size">
        <option *ngFor = "let size of getAllSize()" [value]="size" [selected]="size === currentSize">
          {{size}}
        </option>
      </select>
    </p>
    <p>Choisir la maladie :
      <select class="input-custom" type = "text" (change) = "applyIllnessChange()" id="illness" >
        <option *ngFor = "let illness of getAllIllness()" [value]="illness" [selected]="illness === currentIllness">
          {{illness}}
        </option>
      </select>
    </p>
    <!--<p>Choisir la police d'écriture :
    <button class="button-card"(click)="changeArial() ">Arial</button>
    <button class="button-card"(click)="changeVerdana()" >Verdana</button> </p>-->
    <p>Changer le daltonisme :
      <select class="input-custom" type = "text" (change) = "applyColorChange()" id="color">
        <option *ngFor = "let color of getAllColors()" [selected]="color === currentColor" [value]="color" >
          {{color}}
        </option>
      </select>
  </p>

    <br>
    <p>Exemple de boutons <span class="bold">Vrai</span> et <span class="bold">Faux</span>
      <div class="option-container" [style.justify-content]="formatting.justifyContentOptions" >
      <button class="option"[style.background-color]="colorStyle.font.colorTrue">
        Réponse Vraie
      </button>
      <button class="option"[style.background-color]="colorStyle.font.colorFalse">
        Réponse Fausse
      </button>
    </div>

  </main>

</div>



