<div [style]="formatting">
  <h1>Options</h1>
  <main>
    <p>
      Choisissez la taille de la police :
      <select class="input-custom" type = "text" oninput="this.nextElementSibling.value = this.value" (change) = "applySizeChange()" id="size">
        <option *ngFor = "let size of getAllSize()" [value]="size">
          {{size}}
        </option>
      </select>
    </p>
    <p>Choisir la maladie :
      <select class="input-custom" type = "text" oninput="this.nextElementSibling.value = this.value" (change) = "applyIllnessChange()" id="illness">
        <option *ngFor = "let illness of getAllIllness()" [value]="illness">
          {{illness}}
        </option>
      </select>
    </p>
    <!--<p>Choisir la police d'écriture :
    <button class="button-card"(click)="changeArial() ">Arial</button>
    <button class="button-card"(click)="changeVerdana()" >Verdana</button> </p>-->
    <p>Changer le daltonisme :
      <select class="input-custom" type = "text" oninput="this.nextElementSibling.value = this.value" (change) = "applyColorChange()" id="color">
        <option *ngFor = "let color of getAllColors()" [value]="color">
          {{color}}
        </option>
      </select>
  </p>
  </main>

</div>



