@import "../../../styles/card";

body{
  padding: 0;
  margin: 0;
  width:100vw;
  height: 100vh;
}
.question-number{
  margin: 10px;
  padding: 25px;
  width: 80vw;
  height: 10vh;
  font-size: xx-large;
  text-align: center;


}
.panel{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.question-script{
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 10vh;
  font-size: xx-large;
  text-align: center;

}
.result{
  margin: 10px;
  padding: 5px;
  width:80vw;
  height: 10vh;
  text-align: center;
  font-size: 50px;

}
.question-number{
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 10vh;
  font-size: x-large;
  text-align: center;
  display: inline-block;

}
.question-number2{
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: #d0d3f1;

  color: #0f2a29;
  line-height: 42px;
  border:4px solid #000;
font-size: 35px;
}
.card2{
  margin: 15px;
  padding: 5px;
  width:30vw;
  height: 8px;
  text-align: center;
  font-size: larger;

}

.option-container{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 5px;
  width: 80vw;
  height:35vh;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;

}

.option{
  padding: 10px;
  width: auto;
  height: auto;
  font-size: larger;
  text-align: center;

  border-radius: 25%;

  border: 2px solid #000;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

}
.option:hover {
  box-shadow:
    -7px -7px 20px 0px rgba(238, 226, 200, 0.94),
    -4px -4px 5px 0px rgba(238, 226, 200, 0.94),
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  background-color: #f0efeb;
}

.AfficherR{
  width:30vw;
  height: 8vh;
  padding: 5px;
  font-size: larger;
  border: black solid 3px;
}

.next{
  height: auto;
  width: auto;
  text-align: center;
  padding: 5px;
  font-size: larger;
  border: black solid 3px;
  border-radius: 15%;
  cursor: pointer;

  box-shadow: 0 5px #8f8c8c;
}

.navigation{
  width: 80vw;
  height: 10vh;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.button-card{
  border: black solid 2px;
}


.buttonBack {
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  font-size: inherit;
  background: #000;
  color: #fff;
  line-height: 42px;
  border: none;
}
.buttonBack span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: initial;
}
.buttonBack:before,
.buttonBack:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #000;
}
.buttonBack:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.buttonBack:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.buttonBack:hover{
  color: #000;
  background: transparent;
}
.buttonBack:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.buttonBack:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.buttonBack span:before,
.buttonBack span:after {
  position: absolute;
  content: "";
  background: #000;
}
.buttonBack span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.buttonBack span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.buttonBack span:hover:before {
  width: 100%;
}
.buttonBack span:hover:after {
  width: 100%;
}

.quiz-form{
  display: flex;
}
