@import "../../../styles/card";

body{
  padding: 0;
  margin: 0;
  width:100vw;
  height: 100vh;
}
.question-number{
  margin: 10px;
  padding: 25px;
  width: 80vw;
  height: 10vh;
  font-size: xx-large;
  text-align: center;
}
.panel{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.question-script{
  margin: 10px;
  padding: 25px;
  width: 80vw;
  height: 10vh;
  font-size: xx-large;
  text-align: center;

}
.result{
  margin: 10px;
  padding: 5px;
  width:80vw;
  height: 10vh;
  text-align: center;
  font-size: 50px;

}
.question-number{
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 10vh;
  font-size: x-large;
  text-align: center;

}

.card2{
  margin: 15px;
  padding: 5px;
  width:30vw;
  height: 8px;
  text-align: center;
  font-size: larger;

}

.option-container{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 20vh;
  text-align: center;
  flex-wrap: wrap;

}

.option{
  padding: 10px;
  width: auto;
  height: auto;
  font-size: larger;
  text-align: center;

  border-radius: 25%;

}
.option:hover{
  background-color: lightgoldenrodyellow;
}
.AfficherR{
  width:30vw;
  height: 8vh;
  padding: 5px;
  font-size: larger;
  border: black solid 3px;
}

.next{ //TODO gestion débordement
  height: auto;
  width: auto;
  text-align: center;
  padding: 5px;
  font-size: larger;
  border: black solid 3px;
}

.navigation{
  width: 80vw;
  height: 10vh;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.button-card{
  border: black solid 2px;
}
