<div class="header" xmlns="http://www.w3.org/1999/html">


  <nav id="container">
    <a>Polyquiz</a>
    <a class="button-card loupe">Loupe</a><!--TODO-->
    <span>
      <a routerLink="/quiz-list" class="button-card right">Menu Principal</a>
      <a routerLink="/user-list" class="button-card right">Utilisateurs</a>
      <a routerLink="/options" class="button-card right">Options</a>
    </span>

  </nav>
  <!--MyApp-->
  <!--<nav><a routerLink="quiz-list">Page Principale</a></nav>-->
</div>
