<div class="header" xmlns="http://www.w3.org/1999/html">


  <nav id="container">
    <a>Polyquiz</a>
    <a id='hidden-loupe-button' style="display:none" onclick="$('.main').jfMagnify()">Ne s'affiche pas</a>
    <a id='loupe-button' class="loupe button-card" (click)=loupe() [style.background-color]="colorStyle.font.colorLoupe">Loupe</a><!--TODO-->
    <span *ngIf = "show()">
      <a routerLink="/menu" class="button-card right">Menu Principal</a>
      <a routerLink="/themes" class="button-card right">Thèmes</a>
      <a *ngIf="isConnectedAdmin" routerLink="/user-list" class="button-card right">Utilisateurs</a>
      <a *ngIf="isConnected" (click) = "logOut()" class="button-card right">Déconnexion</a>
    </span>

  </nav>
</div>
  <!--MyApp-->
  <!--<nav><a routerLink="quiz-list">Page Principale</a></nav>-->
