<div class="card" *ngIf="quiz">
    <h2>
        <i class="fab fa-leanpub"></i>
        {{quiz.name}}
    </h2>


  <h3>
    Nombre de questions : {{this.quiz.questions.length}}</h3>
  <nav class="test">
    <button class="button-quiz play" routerLink="/play-quiz/{{quiz.id}}" [style.background-color]="color.font.colorJouer"><span class="textsize">Jouer</span></button>
    <button class="noselect button2" (click) ="deleteQuiz(quiz)" [style.background-color]="color.font.colorSuppr"><span class="text textsize">Supprimer</span> <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></span></button>
    <a routerLink="/detail/{{quiz.id}}" >
      <button class="button-quiz modify"  [style.background-color]="color.font.colorModif"><span class="textsize">Modifier</span> </button>
    </a>

  </nav>

</div>
