<h2>Liste des Thèmes</h2>
<div class="theme-list" *ngIf="themeList" [style]="formatting">

  <div class="form" *ngIf="isAdmin" [style.justify-content]="formatting.justifyContentTheme">
   <app-theme-form></app-theme-form>
  </div>
  <div class="container" [style.justify-content]="formatting.justifyContentTheme">
  <div class="theme" *ngFor="let theme of themeList" [style.width]="formatting.size" [style.justify-content]="formatting.justifyContentTheme">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
    <app-theme [theme]="theme"></app-theme>
  </div>
  </div>
</div>
